In [1]:
%load_ext autoreload
%autoreload 2
import models, utils
#import urbansim.sim.simulation as sim
import orca
import pandas as pd

In [2]:
from urbansim.utils import misc, networks

In [3]:
#hdf=pd.HDFStore('./data/alderaan_semcog_data_fix.h5')

In [4]:
#parcels=orca.get_table('parcels')

In [5]:
#parcels.columns

In [6]:
orca.run(['build_networks'])

Running step 'build_networks'
Time to execute step 'build_networks': 12.24 s
Total time to execute iteration 1 with iteration value None: 12.24 s

In [7]:
orca.run(["neighborhood_vars", 
        ], iter_vars=[2011], data_out=utils.get_run_filename(), out_interval=1)

Running iteration 1 with iteration value 2011
Running step 'neighborhood_vars'
Computing accessibility variables
Computing sum_residential_units
['residential_units', '_node_id']
Removed 453 rows because they contain missing values
Computing sum_nonresidential_units
['job_spaces', '_node_id']
Removed 453 rows because they contain missing values
Computing ave_unit_sqft
['sqft_per_unit', '_node_id']
Removed 453 rows because they contain missing values
Computing ave_lot_sqft
['land_area', '_node_id']
Removed 453 rows because they contain missing values
Computing population
['persons', '_node_id']
Removed 451 rows because they contain missing values
Computing poor
['persons', '_node_id', 'income']
Removed 188 rows because they contain missing values
Computing sfdu
['_node_id', 'building_type_id']
Computing hhsize
['persons', '_node_id']
Removed 451 rows because they contain missing values
Computing jobs
['_node_id']
Removed 371 rows because they contain missing values
Computing ave_income
['income', '_node_id']
Removed 451 rows because they contain missing values
Computing residential
['sqft_price_res', '_node_id']
Removed 453 rows because they contain missing values
Computing retail
['sqft_price_nonres', '_node_id', 'general_type']
Computing office
['sqft_price_nonres', '_node_id', 'general_type']
Computing industrial
['sqft_price_nonres', '_node_id', 'general_type']
       sum_residential_units  sum_nonresidential_units  ave_unit_sqft  \
count          190505.000000             190505.000000  190505.000000
mean                0.236087                  0.102721       0.610729
std                 0.812183                  0.622869       1.989465
min                 0.000000                  0.000000       0.000000
25%                 0.000000                  0.000000       0.000000
50%                 0.000000                  0.000000       0.000000
75%                 0.000000                  0.000000       0.000000
max                 6.649024                  9.130215       9.251722

        ave_lot_sqft     population           poor    sfdu         hhsize  \
count  190505.000000  190505.000000  190505.000000  190505  190505.000000
mean        0.722820       0.326329       0.191715       0       0.115762
std         2.255989       1.072267       0.685266       0       0.363603
min         0.000000       0.000000       0.000000       0       0.000000
25%         0.000000       0.000000       0.000000       0       0.000000
50%         0.000000       0.000000       0.000000       0       0.000000
75%         0.000000       0.000000       0.000000       0       0.000000
max        13.089361       7.098376       5.602119       0       2.197225

                jobs     ave_income    residential  retail  office  industrial
count  190505.000000  190505.000000  190505.000000  190505  190505      190505
mean        0.133364       1.052671       3.586603       0       0           0
std         0.671143       3.282584      13.159219       0       0           0
min         0.000000       0.000000       0.000000       0       0           0
25%         0.000000       0.000000       0.000000       0       0           0
50%         0.000000       0.000000       0.000000       0       0           0
75%         0.000000       0.000000       0.000000       0       0           0
max         9.294222      13.538573     140.838791       0       0           0
count    190505.000000
mean      95252.000000
std       54994.200853
min           0.000000
25%       47626.000000
50%       95252.000000
75%      142878.000000
max      190504.000000
dtype: float64
Time to execute step 'neighborhood_vars': 2.68 s
Total time to execute iteration 1 with iteration value 2011: 2.68 s

In [8]:
nodes=orca.get_table('nodes')
nodes=nodes.to_frame()
parcels=orca.get_table('parcels')
parcels=parcels.to_frame().set_index('_node_id')

In [9]:
parcels=pd.merge(parcels, nodes, left_index=True, right_index=True, how='left')

In [10]:
parcels.columns

Index([u'zone_id', u'land_use_type_id', u'city_id', u'county_id',
       u'large_area_id', u'parcel_sqft', u'tax_exempt_flag', u'sev_value',
       u'centroid_x', u'centroid_y', u'census_block_id', u'pptytax',
       u'total_job_spaces', u'total_sqft', u'land_cost', u'max_height',
       u'acres', u'parcel_size', u'ave_unit_size', u'total_units', u'allowed',
       u'y', u'x', u'max_far', u'sum_residential_units',
       u'sum_nonresidential_units', u'ave_unit_sqft', u'ave_lot_sqft',
       u'population', u'poor', u'sfdu', u'hhsize', u'jobs', u'ave_income',
       u'residential', u'retail', u'office', u'industrial'],
      dtype='object')

In [11]:
parcels.head()

,zone_id,land_use_type_id,city_id,county_id,large_area_id,parcel_sqft,tax_exempt_flag,sev_value,centroid_x,centroid_y,...,population,poor,sfdu,hhsize,jobs,ave_income,residential,retail,office,industrial
0,716,20,1050,163,3,11960,0,2700,13405435.191674,300331.673626,...,5.050827,3.630115,0,1.331235,1.94591,11.20838,16.243071,0,0,0
0,716,20,1050,163,3,11951,0,2700,13405581.386504,300337.105946,...,5.050827,3.630115,0,1.331235,1.94591,11.20838,16.243071,0,0,0
0,716,11,1050,163,3,21331,0,60100,13405354.234717,300556.862649,...,5.050827,3.630115,0,1.331235,1.94591,11.20838,16.243071,0,0,0
0,717,11,1050,163,3,5001,0,24400,13405546.394753,299993.017415,...,5.050827,3.630115,0,1.331235,1.94591,11.20838,16.243071,0,0,0
0,717,11,1050,163,3,4168,0,28700,13405689.638160,299999.782111,...,5.050827,3.630115,0,1.331235,1.94591,11.20838,16.243071,0,0,0

In [12]:
orca.run([
#     "clear_cache",            # recompute variables every year
#     "neighborhood_vars",      # neighborhood variables
#     "households_transition",  # households transition
#     "households_relocation",  # households relocation model
#     "jobs_transition",        # jobs transition
#     "jobs_relocation",        # jobs relocation model
#     "scheduled_development_events",
#     "nrh_simulate",           # non-residential rent hedonic
#     "rsh_simulate",           # residential sales hedonic
#     "hlcm_simulate",          # households location choice
#     "elcm_simulate",          # employment location choice
     "price_vars",             # compute average price measures
#     "feasibility",            # compute development feasibility
#     "residential_developer",   # build actual buildings,
#     "non_residential_developer",   # build actual buildings
#     "government_jobs_scaling_model",
#     "refiner",
#     "gq_model",
#     "travel_model",
], iter_vars=[2011], data_out=utils.get_run_filename(), out_interval=1)

Running iteration 1 with iteration value 2011
Running step 'price_vars'
Computing accessibility variables
Computing residential
['sqft_price_res', '_node_id']
Removed 453 rows because they contain missing values
Computing retail
['sqft_price_nonres', '_node_id', 'general_type']
Computing office
['sqft_price_nonres', '_node_id', 'general_type']
Computing industrial
['sqft_price_nonres', '_node_id', 'general_type']
         residential  retail  office  industrial
count  190505.000000  190505  190505      190505
mean        3.586603       0       0           0
std        13.159219       0       0           0
min         0.000000       0       0           0
25%         0.000000       0       0           0
50%         0.000000       0       0           0
75%         0.000000       0       0           0
max       140.838791       0       0           0
count    190505.000000
mean      95252.000000
std       54994.200853
min           0.000000
25%       47626.000000
50%       95252.000000
75%      142878.000000
max      190504.000000
dtype: float64
Time to execute step 'price_vars': 1.66 s
Total time to execute iteration 1 with iteration value 2011: 1.66 s

In [18]:
orca.list_tables()

['travel_data',
 'nodes_prices',
 'tazcounts2015gq',
 'zones',
 'households',
 'annual_employment_control_totals',
 'annual_relocation_rates_for_households',
 'nodes',
 'buildings',
 'jobs',
 'tazcounts2030gq',
 'tazcounts2040gq',
 'persons',
 'annual_household_control_totals',
 'cities',
 'annual_relocation_rates_for_jobs',
 'tazcounts2035gq',
 'tazcounts2020gq',
 'tazcounts2025gq',
 'scheduled_development_events',
 'building_sqft_per_job',
 'parcels']

In [20]:
nodes_prices=orca.get_table("nodes_prices").to_frame()

In [21]:
nodes_prices

        residential  retail  office  industrial
0         16.243071       0       0           0
1          0.000000       0       0           0
2          0.000000       0       0           0
3          0.000000       0       0           0
4          0.000000       0       0           0
5          0.000000       0       0           0
6          0.000000       0       0           0
7         23.032482       0       0           0
8          0.000000       0       0           0
9          0.000000       0       0           0
10         0.000000       0       0           0
11         0.000000       0       0           0
12         0.000000       0       0           0
13         0.000000       0       0           0
14         0.000000       0       0           0
15         0.000000       0       0           0
16         0.000000       0       0           0
17         0.000000       0       0           0
18         0.000000       0       0           0
19         0.000000       0       0           0
20         0.000000       0       0           0
21        18.639484       0       0           0
22         0.000000       0       0           0
23         0.000000       0       0           0
24         0.000000       0       0           0
25         0.000000       0       0           0
26         0.000000       0       0           0
27         0.000000       0       0           0
28         0.000000       0       0           0
29         0.000000       0       0           0
...             ...     ...     ...         ...
190475     0.000000       0       0           0
190476     0.000000       0       0           0
190477     0.000000       0       0           0
190478     0.000000       0       0           0
190479    16.663794       0       0           0
190480     0.000000       0       0           0
190481    12.350683       0       0           0
190482     0.000000       0       0           0
190483     0.000000       0       0           0
190484     0.000000       0       0           0
190485     0.000000       0       0           0
190486     0.000000       0       0           0
190487     0.000000       0       0           0
190488     0.000000       0       0           0
190489     0.000000       0       0           0
190490     0.000000       0       0           0
190491    13.458792       0       0           0
190492     0.000000       0       0           0
190493    14.977671       0       0           0
190494     0.000000       0       0           0
190495     0.000000       0       0           0
190496     0.000000       0       0           0
190497     0.000000       0       0           0
190498     0.000000       0       0           0
190499     0.000000       0       0           0
190500     0.000000       0       0           0
190501     0.000000       0       0           0
190502     0.000000       0       0           0
190503     0.000000       0       0           0
190504     0.000000       0       0           0

[190505 rows x 4 columns]

In [14]:
parcels.columns

Index([u'zone_id', u'land_use_type_id', u'city_id', u'county_id',
       u'large_area_id', u'parcel_sqft', u'tax_exempt_flag', u'sev_value',
       u'centroid_x', u'centroid_y', u'census_block_id', u'pptytax',
       u'total_job_spaces', u'total_sqft', u'land_cost', u'max_height',
       u'acres', u'parcel_size', u'ave_unit_size', u'total_units', u'allowed',
       u'y', u'x', u'max_far'],
      dtype='object')

In [15]:
nodes=orca.get_table('nodes')
nodes=nodes.to_frame()

In [16]:
nodes.columns

Index([u'sum_residential_units', u'sum_nonresidential_units', u'ave_unit_sqft',
       u'ave_lot_sqft', u'population', u'poor', u'sfdu', u'hhsize', u'jobs',
       u'ave_income', u'residential', u'retail', u'office', u'industrial'],
      dtype='object')

In [ ]:
import pandas as pd

In [ ]:
hf=pd.HDFStore('./data/alderaan_semcog_data_fix.h5')

In [ ]:
hf['/zoning']['future_use'].unique()

In [ ]:
for item in hf.keys():
    print item, hf[item].shape

In [ ]:
hf['/parcels']['large_area_id']

In [ ]:
af=hf['/buildings']

In [ ]:
af['improvement_value']=af['tax']

In [ ]:
#del af['tax']

In [ ]:
af.head()

In [ ]:
hf['/buildings']=af

In [ ]:
hf.close()