In [1]:
import pandas as pd
import numpy as np
import os
import sys
import numbers
def apply_filter_query(df, filters=None):
	"""
	Use the DataFrame.query method to filter a table down to the
	desired rows.

	Parameters
	----------
	df : pandas.DataFrame
	filters : list of str or str, optional
		List of filters to apply. Will be joined together with
		' and ' and passed to DataFrame.query. A string will be passed
		straight to DataFrame.query.
		If not supplied no filtering will be done.

	Returns
	-------
	filtered_df : pandas.DataFrame

	"""
	if filters:
		if isinstance(filters, str):
			query = filters
		else:
			query = ' and '.join(filters)
		return df.query(query)
	else:
		return df
def _filterize(name, value):
	"""
	Turn a `name` and `value` into a string expression compatible
	the ``DataFrame.query`` method.

	Parameters
	----------
	name : str
		Should be the name of a column in the table to which the
		filter will be applied.

		A suffix of '_max' will result in a "less than" filter,
		a suffix of '_min' will result in a "greater than or equal to" filter,
		and no recognized suffix will result in an "equal to" filter.
	value : any
		Value side of filter for comparison to column values.

	Returns
	-------
	filter_exp : str

	"""
	if name.endswith('_min'):
		name = name[:-4]
		comp = '>='
	elif name.endswith('_max'):
		name = name[:-4]
		comp = '<'
	else:
		comp = '=='

	result = '{} {} {!r}'.format(name, comp, value)
	return result

def filter_table(table, filter_series, ignore=None):
	"""
	Filter a table based on a set of restrictions given in
	Series of column name / filter parameter pairs. The column
	names can have suffixes `_min` and `_max` to indicate
	"less than" and "greater than" constraints.

	Parameters
	----------
	table : pandas.DataFrame
		Table to filter.
	filter_series : pandas.Series
		Series of column name / value pairs of filter constraints.
		Columns that ends with '_max' will be used to create
		a "less than" filters, columns that end with '_min' will be
		used to create "greater than or equal to" filters.
		A column with no suffix will be used to make an 'equal to' filter.
	ignore : sequence of str, optional
		List of column names that should not be used for filtering.

	Returns
	-------
	filtered : pandas.DataFrame

	"""
	ignore = ignore if ignore else set()

	filters = [_filterize(name, val)
				for name, val in filter_series.iteritems()
				if not (name in ignore or
						(isinstance(val, numbers.Number) and
						np.isnan(val)))]

	return apply_filter_query(table, filters)
run_folder = "/home/da/semcog_urbansim/runs"
run_num = "run1008"
hdf = pd.HDFStore(os.path.join(run_folder, '%s.h5'%run_num), 'r')

### GQ

In [9]:
gqct = hdf['/base/group_quarters_control_totals']

In [40]:
gqct.loc[:, 'sim'] = 0
for year in range(2020, 2051):
	p = hdf['/%s/parcels' % year]
	b = hdf['/%s/buildings' % year]
	gq = hdf['/%s/group_quarters' % year]
	b = b.join(p.city_id, on='parcel_id')
	gq = gq.join(b.city_id, on='building_id')
	gqct.loc[gqct.year==year, 'sim'] = gq.city_id.value_counts()

In [74]:
(gqct.sim.fillna(0) - gqct['count']).abs().sort_values(ascending=False).iloc[40:]

cityid
4005    855.0
4005    851.0
4005    849.0
2285    149.0
2285    129.0
        ...
6075      0.0
6060      0.0
6045      0.0
6040      0.0
7100      0.0
Length: 6873, dtype: float64

In [ ]:
gqct.loc[4005]

In [31]:
gq_buildings = pd.read_excel(r'~/share/urbansim/RDF2050/model_inputs/base_tables/group_quarters/GQ_ControlTotals.xlsx',
                             sheet_name="BuildingLevel")

In [39]:
base_b = hdf['/base/buildings']
gq_buildings[~gq_buildings.building_id.isin(base_b.index.unique())]
#.to_csv("~/share/da/Staff/Xie/share/model/missing_gq_buildings.csv")

,city_id,primary_PUMA,secondary_PUMA,building_id,resident_count,GQ_code,RELSHIPP,age_grp
1003,1015,3206,3205,1462168,9,801,38,65+
1351,2115,2902,3001,2372929,2,801,38,65+
1793,3130,3006,3003,3331889,2,801,38,65+
2221,541,3208; 3209; 3210; 3211; 3112,NaN,8257421,2,801,38,65+

### HH

#### HH by mcd

In [8]:
year = 2020
# db = hdf['/%s/dropped_buildings' % year]
b = hdf['/%s/buildings' % year]
hh = hdf["/%s/households" % year]
p = hdf['/%s/parcels' % year]
# db = db.join(p.city_id, on='parcel_id')
b = b.join(p.city_id, on='parcel_id')
hh = hh.join(b.city_id, on='building_id')

In [10]:
hh.city_id.fillna(-1).astype(int).value_counts()

3130    54629
3115    51436
4005    49854
3030    44527
1120    39227
        ...
2172       58
3045       36
2252        8
2073        5
6142        1
Name: city_id, Length: 291, dtype: int64

In [14]:
hh_by_mcd_year = pd.DataFrame(index=p.city_id.unique()).sort_index()
hh_by_mcd_year

Empty DataFrame
Columns: []
Index: [501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 1005, 1010, 1015, 1020, 1025, 1030, 1040, 1045, 1050, 1055, 1060, 1065, 1070, 1075, 1080, 1085, 1090, 1095, 1100, 1105, 1110, 1115, 1120, 1125, 1130, 1135, 1140, 1145, 1150, 1155, 1160, 1165, 1170, 1175, 1180, 1185, 1190, 1200, 1205, 1210, 1215, 1220, 2005, 2010, 2015, ...]

[292 rows x 0 columns]

In [15]:
hu_vcount = b[['city_id', 'residential_units']].groupby('city_id').sum()['residential_units']
hu_vcount

city_id
501      3168.0
502      7502.0
503      3251.0
504      5544.0
505     11363.0
         ...
7080     5548.0
7085      907.0
7090     2502.0
7095     4509.0
7100     1502.0
Name: residential_units, Length: 291, dtype: float64

#### Dropped buildings

In [17]:
year = 2032
db = hdf['/%s/dropped_buildings' % year]
b = hdf['/%s/buildings' % year]
p = hdf['/%s/parcels' % year]
db = db.join(p.semmcd, on='parcel_id')
b = b.join(p.semmcd, on='parcel_id')

In [18]:
b[b.semmcd==2050].residential_units.sum()

416.0

In [ ]:
2391432

#### Household controls

In [2]:
region_ct = hdf['/base/annual_household_control_totals']
region_hh = hdf["/2050/households"]
region_p = hdf["/2050/persons"]
region_target = pd.read_csv('/home/da/share/urbansim/RDF2050/model_inputs/base_tables/remi_pop_total.csv', index_col='large_area_id')

In [6]:
region_ct

,children_min,age_of_head_max,income_min,large_area_id,workers_max,age_of_head_min,cars_max,persons_min,workers_min,cars_min,children_max,income_max,persons_max,race_id,total_number_of_households
year,,,,,,,,,,,,,,,
2020,0,17,0,3,1,5,0,2,1,0,0,31704,2,3,4
2021,0,17,0,3,1,5,0,2,1,0,0,31704,2,3,4
2022,0,17,0,3,1,5,0,2,1,0,0,31704,2,3,4
2023,0,17,0,3,1,5,0,2,1,0,0,31704,2,3,4
2024,0,17,0,3,1,5,0,2,1,0,0,31704,2,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,0,-1,113183,147,-1,65,-1,10,3,3,0,1534131,-1,1,0
2047,0,-1,113183,147,-1,65,-1,10,3,3,0,1534131,-1,1,0
2048,0,-1,113183,147,-1,65,-1,10,3,3,0,1534131,-1,1,0
2049,0,-1,113183,147,-1,65,-1,10,3,3,0,1534131,-1,1,0
2050,0,-1,113183,147,-1,65,-1,10,3,3,0,1534131,-1,1,0

In [13]:
region_ct.loc[2022].query('large_area_id==3').total_number_of_households

year
2022      4
2022     42
2022    269
2022    388
2022      3
       ...
2022      2
2022     18
2022     10
2022     18
2022     43
Name: total_number_of_households, Length: 2157, dtype: int32

In [16]:
(region_ct.loc[2050].query('large_area_id==3').total_number_of_households * region_ct.loc[2050].query('large_area_id==3').persons_min).sum()

1182891

In [15]:
hdf["/2050/households"].query('large_area_id==3').persons.sum()

1190883

In [9]:
hdf["/2050/households"].query('large_area_id==3').persons.sum()

1190883

In [52]:
region_ct.loc[2020].query('large_area_id==3').total_number_of_households.sum()

455576

In [21]:
region_ct.loc[2050].query('large_area_id==3').total_number_of_households.sum()

463830

In [6]:
max_cols = region_ct.columns[
	region_ct.columns.str.endswith("_max") & (region_ct == -1).any(axis=0)
]
region_ct[max_cols] = region_ct[max_cols].replace(-1, np.inf)
region_ct[max_cols] += 1

In [7]:
region_hh.index = region_hh.index.astype(int)
region_p.index = region_p.index.astype(int)

In [8]:
region_ct_2050 = region_ct.loc[2050]
region_simulated_hh_2050 = [filter_table(region_hh, region_ct_2050.iloc[i], 'total_number_of_households').shape[0] for i in range(region_ct_2050.shape[0])]

In [9]:
region_ct.loc[2050, 'region_simulated_hh_2050'] = pd.Series(region_simulated_hh_2050, index=region_ct_2050.index)

In [10]:
region_ct.loc[2050, 'abs_diff'] = (region_ct.loc[2050, 'region_simulated_hh_2050']  - region_ct.loc[2050, 'total_number_of_households'] ).abs()
region_ct.loc[2050, 'ratio'] = region_ct.loc[2050, 'region_simulated_hh_2050']  / region_ct.loc[2050, 'total_number_of_households']

In [12]:
region_ct.loc[2050].sort_values(by='abs_diff', ascending=False).head(20)

,age_of_head_min,children_max,income_max,race_id,age_of_head_max,cars_min,persons_max,cars_max,children_min,income_min,workers_max,persons_min,total_number_of_households,workers_min,large_area_id,region_simulated_hh_2050,abs_diff,ratio
year,,,,,,,,,,,,,,,,,,
2050,35,1.0,31704,2,65.0,0,2.0,1.0,0,0,1.0,1,12220,0,5,11559.0,661.0,0.945908
2050,35,1.0,31704,2,65.0,1,2.0,2.0,0,0,1.0,1,7196,0,5,6811.0,385.0,0.946498
2050,35,1.0,64016,2,65.0,1,2.0,2.0,0,31705,2.0,1,5457,1,5,5804.0,347.0,1.063588
2050,35,1.0,31704,2,65.0,1,2.0,2.0,0,0,2.0,1,4536,1,5,4825.0,289.0,1.063713
2050,65,1.0,113190,4,inf,2,4.0,3.0,0,64017,3.0,3,1650,2,5,1421.0,229.0,0.861212
2050,65,1.0,113190,3,inf,3,5.0,inf,0,64017,2.0,4,2767,1,161,2557.0,210.0,0.924106
2050,65,1.0,1534131,1,inf,2,3.0,3.0,0,113191,2.0,2,4790,1,125,4995.0,205.0,1.042797
2050,35,1.0,31704,2,65.0,0,3.0,1.0,0,0,1.0,2,3273,0,5,3072.0,201.0,0.938588
2050,65,1.0,113190,1,inf,2,3.0,3.0,0,64017,1.0,2,7312,0,125,7139.0,173.0,0.976340
2050,65,1.0,64016,1,inf,2,3.0,3.0,0,31705,1.0,2,7906,0,125,7743.0,163.0,0.979383
2050,65,1.0,31704,1,inf,1,2.0,2.0,0,0,1.0,1,16553,0,125,16390.0,163.0,0.990153
2050,35,1.0,1534131,1,65.0,2,3.0,3.0,0,113191,3.0,2,12418,2,125,12574.0,156.0,1.012562
2050,65,1.0,1534131,1,inf,2,3.0,3.0,0,113191,1.0,2,6578,0,125,6431.0,147.0,0.977653
2050,35,1.0,113190,2,65.0,1,2.0,2.0,0,64017,2.0,1,2075,1,5,2221.0,146.0,1.070361
2050,35,1.0,31704,2,65.0,1,3.0,2.0,0,0,1.0,2,2305,0,5,2172.0,133.0,0.942299
2050,65,1.0,113190,1,inf,2,3.0,3.0,0,64017,2.0,2,3383,1,125,3508.0,125.0,1.036949
2050,35,3.0,1534131,4,65.0,2,5.0,3.0,2,113191,3.0,4,2693,2,125,2814.0,121.0,1.044931
2050,65,1.0,64016,1,inf,1,2.0,2.0,0,31705,2.0,1,2601,1,125,2720.0,119.0,1.045752
2050,18,1.0,31704,1,25.0,3,7.0,inf,0,0,1.0,6,665,0,161,550.0,115.0,0.827068
2050,35,1.0,31704,2,65.0,0,2.0,1.0,0,0,2.0,1,1546,1,5,1661.0,115.0,1.074386

In [13]:
# diff by ratio
region_ct.loc[2050]['abs_diff'].sum()/region_ct.loc[2050]["total_number_of_households"].sum()

0.017398918772793995

#### MCD totals

In [13]:
mcd_total = pd.read_csv('/home/da/share/urbansim/RDF2050/model_inputs/base_tables/mcd_totals_2020_2050_nov15.csv', index_col='mcd')
semmcds = hdf['/base/semmcds']
semmcds = semmcds.reset_index()[['semmcd_id', 'large_area_id']]
semmcds = semmcds.rename(columns={'semmcd_id': 'mcd'})

In [72]:
year = 2021
hh_cur = hdf["/%s/households"%year]
p = hdf["/%s/parcels"%year]
b_cur = hdf["/%s/buildings"%year]
b_cur = b_cur.join(p.semmcd, on='parcel_id')
hh_cur = hh_cur.join(b_cur.semmcd, on='building_id')
b_temp = b_cur[['semmcd', 'mcd_model_quota']]
qt_vs_growth = b_temp[b_temp.semmcd.isin(semmcds.query('large_area_id==3').mcd)].groupby('semmcd').sum()
hh_next = hdf["/%s/households"%(year+1)]
p = hdf["/%s/parcels"%(year+1)]
b_next = hdf["/%s/buildings"%(year+1)]
b_next = b_next.join(p.semmcd, on='parcel_id')
hh_next = hh_next.join(b_next.semmcd, on='building_id')
qt_vs_growth['cur'] = hh_cur.query('large_area_id==3').semmcd.value_counts()
qt_vs_growth['next'] = hh_next.query('large_area_id==3').semmcd.value_counts()
qt_vs_growth['diff'] = qt_vs_growth.next - qt_vs_growth.cur

In [73]:
b_temp.query('(semmcd==1025) and (mcd_model_quota>0)').sum()

semmcd             53300.0
mcd_model_quota      363.0
dtype: float64

In [74]:
hh_cur.building_id.isin(b_temp.query('(semmcd==1025) and (mcd_model_quota>0)').index).sum()

363

In [70]:
hh_cur[hh_cur.building_id.isin(b_temp.query('(semmcd==1025) and (mcd_model_quota>0)').index)]

,race_id,age_of_head,cars,blkgrp,large_area_id,children,ten,persons,income,building_id,valp,workers,household_type,semmcd
household_id,,,,,,,,,,,,,,
1225546.0,1,31,1,261635647001,3,1,3,3,76706,9014524,0,2,12,1025.0
1255384.0,1,27,0,261635547001,3,0,2,1,15375,9014524,110000,0,3,1025.0
1277462.0,1,56,1,261635569002,3,0,1,1,27166,9014524,95000,1,2,1025.0
1383111.0,2,37,0,261635669001,3,3,3,4,10443,9014550,0,1,5,1025.0
1498125.0,1,47,1,261635918003,3,0,1,1,25773,9014550,300000,0,2,1025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3368980.0,3,78,1,261251673001,3,0,3,1,14129,9014550,0,0,1,1025.0
3369667.0,4,68,1,261635645021,3,0,1,1,17386,9014550,80000,0,1,1025.0
3369745.0,4,68,2,261635797003,3,0,1,1,8772,9014524,88000,0,1,1025.0
3369784.0,4,73,3,261635672021,3,0,1,1,37227,9014550,160000,0,7,1025.0
3370257.0,4,68,2,261635520002,3,3,2,6,20821,9014550,50000,1,4,1025.0

In [69]:
hh_next[hh_next.building_id.isin(b_temp.query('(semmcd==1025) and (mcd_model_quota>0)').index)]

,race_id,age_of_head,cars,blkgrp,large_area_id,children,ten,persons,income,building_id,valp,workers,household_type,semmcd
household_id,,,,,,,,,,,,,,
1225546.0,1,31,1,261635647001,3,1,3,3,76706,9014524,0,2,12,1025.0
1255384.0,1,27,0,261635547001,3,0,2,1,15375,9014524,110000,0,3,1025.0
1277462.0,1,56,1,261635569002,3,0,1,1,27166,9014524,95000,1,2,1025.0
1383111.0,2,37,0,261635669001,3,3,3,4,10443,9014550,0,1,5,1025.0
1498125.0,1,47,1,261635918003,3,0,1,1,25773,9014550,300000,0,2,1025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370299.0,1,51,1,261635715003,3,3,3,12,32728,9014550,0,2,11,1025.0
3370384.0,1,36,3,261635807001,3,3,1,16,47251,9014550,200000,1,11,1025.0
3370399.0,1,36,3,261635786004,3,3,1,16,47251,9014550,200000,1,11,1025.0
3370785.0,1,72,5,261635746002,3,2,2,13,76731,9014550,40000,2,10,1025.0
3426829.0,1,89,0,261251612003,3,0,2,1,26562,9014524,170000,0,1,1025.0

In [81]:
b_cur[b_cur.index.isin(b_temp.query('(semmcd==1025) and (mcd_model_quota>0)').index)]

,year_built,event_id,sqft_per_unit,sp_filter,mcd_model_quota,non_residential_sqft,building_type_id,market_value,sqft_price_res,residential_units,parcel_id,improvement_value,sqft_price_nonres,land_area,stories,hu_filter,city_id,semmcd
building_id,,,,,,,,,,,,,,,,,,
1200434,2008,0,3266.0,0,1.0,0.000000,81,453553.128864,109.447306,1.0,1038635,421911.816957,0.0,1633,2.00,0,1025,1025
1169899,2004,0,3307.0,0,1.0,0.000000,81,840267.912334,333.988944,1.0,1014865,741317.833736,0.0,3307,1.00,0,1025,1025
8924350,2021,9041772,4300.0,0,1.0,0.000000,81,0.000000,262.484473,1.0,1014749,0.000000,0.0,0,1.00,0,1025,1025
8924351,2021,9041778,4300.0,0,1.0,0.000000,81,0.000000,225.797864,1.0,1014769,0.000000,0.0,0,1.00,0,1025,1025
8926365,2021,9048209,1600.0,0,1.0,0.000000,81,0.000000,123.620792,1.0,1038616,0.000000,0.0,0,1.75,0,1025,1025
8926611,2021,9048458,1600.0,0,1.0,0.000000,81,0.000000,321.049965,1.0,1022705,0.000000,0.0,0,1.75,0,1025,1025
8942667,2021,0,1107.6,0,1.0,75.932200,81,0.000000,126.216003,1.0,1038608,0.000000,0.0,0,1.00,0,1025,1025
8942684,2021,0,1183.6,0,1.0,169.028025,81,0.000000,183.679118,1.0,1017520,0.000000,0.0,0,1.00,0,1025,1025
8942694,2021,0,1040.6,0,1.0,86.062500,81,0.000000,139.933935,1.0,1027503,0.000000,0.0,0,1.00,0,1025,1025
8942702,2021,0,1168.4,0,1.0,90.801250,81,0.000000,145.798414,1.0,1027182,0.000000,0.0,0,1.00,0,1025,1025
8942712,2021,0,1182.0,0,16.0,472.661200,81,0.000000,58.482382,4.0,1028244,0.000000,0.0,0,2.00,0,1025,1025
8942723,2021,0,1230.8,0,1.0,77.775000,81,0.000000,146.729081,1.0,1028357,0.000000,0.0,0,1.00,0,1025,1025
8942728,2021,0,1192.0,0,1.0,77.350000,82,0.000000,189.590648,1.0,1027255,0.000000,0.0,0,1.00,0,1025,1025
8942737,2021,0,3708.0,0,1.0,257.160487,81,0.000000,195.600151,1.0,1022868,0.000000,0.0,0,1.00,0,1025,1025
8942757,2021,0,1174.6,0,100.0,1323.090450,81,0.000000,7.624049,10.0,1038561,0.000000,0.0,0,1.00,0,1025,1025
8942766,2021,0,1230.8,0,1.0,2430.456000,81,0.000000,147.474267,1.0,1028512,0.000000,0.0,0,2.00,0,1025,1025
8942769,2021,0,1140.8,0,1.0,73.115725,81,0.000000,119.557196,1.0,1038294,0.000000,0.0,0,1.00,0,1025,1025
8942777,2021,0,1128.4,0,1.0,3309.390000,81,0.000000,148.621712,1.0,1028289,0.000000,0.0,0,2.00,0,1025,1025
8942787,2021,0,1099.8,0,1.0,1312.956750,81,0.000000,151.470144,1.0,1028259,0.000000,0.0,0,2.00,0,1025,1025
8942801,2021,0,1183.8,0,9.0,457.691000,81,0.000000,84.034926,3.0,1028034,0.000000,0.0,0,2.00,0,1025,1025
8942802,2021,0,1233.6,0,1.0,1800.725850,81,0.000000,119.176608,1.0,1038286,0.000000,0.0,0,1.00,0,1025,1025
8942824,2021,0,1186.6,0,1.0,66.300000,81,0.000000,146.254176,1.0,1028550,0.000000,0.0,0,1.00,0,1025,1025
8942871,2021,0,1230.8,0,1.0,109.650000,81,0.000000,146.757406,1.0,1028356,0.000000,0.0,0,1.00,0,1025,1025
8942926,2021,0,1174.0,0,1.0,68.276250,81,0.000000,156.181603,1.0,1036062,0.000000,0.0,0,1.00,0,1025,1025
8942936,2021,0,1182.0,0,4.0,309.105050,81,0.000000,110.259394,2.0,1028243,0.000000,0.0,0,2.00,0,1025,1025
8942938,2021,0,1125.6,0,1.0,168.314025,81,0.000000,141.099823,1.0,1433500,0.000000,0.0,0,1.00,0,1025,1025
8942973,2021,0,1226.8,0,1.0,75.126187,81,0.000000,124.651961,1.0,1038455,0.000000,0.0,0,1.00,0,1025,1025
8942983,2021,0,3492.6,0,1.0,433.180612,82,0.000000,700.000000,1.0,1022886,0.000000,0.0,0,1.00,0,1025,1025
8942992,2021,0,1000.0,0,110.0,1724.925400,81,0.000000,2.808507,16.0,1027185,0.000000,0.0,0,1.00,0,1025,1025
8943033,2021,0,2120.0,0,4.0,500.403925,81,0.000000,88.378827,2.0,1027689,0.000000,0.0,0,1.00,0,1025,1025
8943039,2021,0,3525.6,0,1.0,454.669250,81,0.000000,264.980144,1.0,1022706,0.000000,0.0,0,1.00,0,1025,1025
8943046,2021,0,1107.6,0,9.0,318.063200,81,0.000000,81.859820,3.0,1027585,0.000000,0.0,0,2.00,0,1025,1025
8943053,2021,0,1087.8,0,1.0,117.160600,81,0.000000,148.755721,1.0,1028141,0.000000,0.0,0,2.00,0,1025,1025
8943061,2021,0,1000.0,0,16.0,437.809500,81,0.000000,60.678480,4.0,1433502,0.000000,0.0,0,2.00,0,1025,1025
8943076,2021,0,1054.0,0,9.0,331.296000,81,0.000000,85.886427,3.0,1027522,0.000000,0.0,0,2.00,0,1025,1025
8943081,2021,0,1055.2,0,1.0,135.150000,81,0.000000,106.591384,1.0,1036172,0.000000,0.0,0,1.00,0,1025,1025
8943084,2021,0,1037.4,0,36.0,658.138000,82,0.000000,541.826399,6.0,1027519,0.000000,0.0,0,2.00,0,1025,1025
8943092,2021,0,1171.6,0,1.0,74.836125,81,0.000000,129.998999,1.0,1036144,0.000000,0.0,0,1.00,0,1025,1025
8943103,2021,0,1000.0,0,9.0,330.534400,81,0.000000,86.780514,3.0,1028147,0.000000,0.0,0,2.00,0,1025,1025
8943137,2021,0,1106.6,0,1.0,75.429000,81,0.000000,149.233451,1.0,1027622,0.000000,0.0,0,1.00,0,1025,1025
8943148,2021,0,1078.0,0,1.0,105.136500,81,0.000000,152.260768,1.0,1028417,0.000000,0.0,0,1.00,0,1025,1025
8943158,2021,0,1392.0,0,1.0,164.900000,81,0.000000,126.270661,1.0,1027278,0.000000,0.0,0,1.00,0,1025,1025
8943161,2021,0,1000.0,0,1.0,106.267000,81,0.000000,150.162081,1.0,1028407,0.000000,0.0,0,1.00,0,1025,1025
8943174,2021,0,1216.6,0,1.0,69.167475,81,0.000000,140.373082,1.0,1028533,0.000000,0.0,0,1.00,0,1025,1025
8943177,2021,0,1125.6,0,1.0,83.657000,81,0.000000,147.092490,1.0,1028432,0.000000,0.0,0,1.00,0,1025,1025
8943179,2021,0,1530.0,0,1.0,97.898750,81,0.000000,172.213673,1.0,1017199,0.000000,0.0,0,1.00,0,1025,1025
8943184,2021,0,1000.0,0,1.0,66.390100,81,0.000000,165.445867,1.0,1036080,0.000000,0.0,0,1.00,0,1025,1025
8943196,2021,0,2239.6,0,1.0,0.000000,81,0.000000,275.887734,1.0,1433332,0.000000,0.0,0,1.00,0,1025,1025
8943219,2021,0,1083.4,0,1.0,88.336462,81,0.000000,126.305593,1.0,1038401,0.000000,0.0,0,1.00,0,1025,1025
8943256,2021,0,1107.6,0,1.0,63.053637,81,0.000000,126.175782,1.0,1038603,0.000000,0.0,0,1.00,0,1025,1025
8943263,2021,0,1108.8,0,1.0,65.757700,81,0.000000,153.139219,1.0,1028203,0.000000,0.0,0,1.00,0,1025,1025
8943284,2021,0,1162.0,0,1.0,91.369687,82,0.000000,190.142445,1.0,1027869,0.000000,0.0,0,1.00,0,1025,1025

In [44]:
qt_vs_growth

        mcd_model_quota    cur   next  diff
semmcd
1005               12.0  11395  11402     7
1010                2.0   1780   1778    -2
1015              118.0  13591  13631    40
1020              394.0  38926  39107   181
1025              186.0  36081  35865  -216
1030                0.0  21626  21613   -13
1040               21.0   3437   3451    14
1045                7.0   3994   3997     3
1050                0.0  10831  10825    -6
1055                9.0   2103   2103     0
1060               41.0   4408   4425    17
1065                5.0   2200   2209     9
1070                2.0   3694   3690    -4
1075               23.0   4464   4461    -3
1080                4.0    972    975     3
1085               28.0   6367   6381    14
1090               28.0   7597   7587   -10
1095                0.0   6068   6067    -1
1100                0.0   3739   3732    -7
1105               98.0   7087   7151    64
1110               25.0   9622   9613    -9
1115                5.0  15474  15482     8
1120              293.0  38106  38117    11
1125               23.0   4496   4513    17
1130               10.0   1341   1345     4
1135              109.0  12776  12786    10
1140                3.0   4335   4334    -1
1145              100.0  11845  11807   -38
1150                0.0  19294  19311    17
1155                2.0   2480   2494    14
1160                7.0   5105   5100    -5
1165               22.0   1335   1346    11
1170              147.0  10209  10308    99
1175               32.0  12928  12924    -4
1180                0.0   3619   3628     9
1185               29.0  24828  24888    60
1190               43.0   7966   7946   -20
1200              112.0  13884  13968    84
1205               33.0   7103   7096    -7
1210               50.0  36507  36479   -28
1215               33.0   5354   5352    -2
1220               17.0  10782  10784     2

In [17]:
# number of hh dont have building_id
hh[hh.building_id == -1].large_area_id.value_counts()

125    17765
3       8507
99      6807
115     3668
93      3296
147     1442
Name: large_area_id, dtype: int64

In [13]:
simulated_mcd_hh = region_hh.semmcd.fillna(-1).value_counts()

In [27]:
region_hh

,cars,children,race_id,income,ten,persons,workers,valp,age_of_head,building_id,large_area_id,blkgrp,household_type,semmcd
household_id,,,,,,,,,,,,,,
1,2,0,1,147811,1,2,2,250000,50,4015129,161,261614200001,14,4015
3,1,0,1,74656,1,1,0,200000,61,4024154,161,261614200001,8,4015
8,4,0,1,64331,1,2,1,325000,37,9084828,161,261614200001,8,4005
9,2,0,1,103250,1,2,2,159000,57,4022744,161,261614200001,8,4015
10,2,4,4,128248,1,6,2,230000,37,4019564,161,261614200001,17,4015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3869994,1,1,4,46729,2,4,1,225000,81,2480148,125,261251681002,10,2072
3869995,1,1,4,46729,2,4,1,225000,81,2934148,125,261251681002,10,2010
3869996,4,0,4,31240,1,5,2,600000,75,2136405,125,261251561001,4,2072
3869997,4,0,4,31240,1,5,2,600000,75,2040941,125,261251561001,4,2075
3869998,4,0,4,31240,1,5,2,600000,75,2361267,125,261251561001,4,2280

In [21]:
simulated_mcd_hh

5       257650
4005     55031
3130     54344
3115     53847
3030     47712
         ...
2172        59
3045        35
2252         8
2073         8
6142         1
Name: semmcd, Length: 237, dtype: int64

In [23]:
diff = simulated_mcd_hh - mcd_total['2050']
mcd_total_vs_simulated = (diff)[diff.abs().sort_values(ascending=False).index]
mcd_total_vs_simulated.index = mcd_total_vs_simulated.index.astype(int)

In [24]:
mcd_total_vs_simulated.fillna(0).astype(int).head(50)

2172   -11205
2252   -10648
2145     4673
4005     4624
3110     3597
3115    -3294
2190     3164
2290     3130
6135    -2910
2073    -2817
2030    -2689
4110    -2616
4080    -2519
2115     2488
1025    -2302
2175     2275
2215     2227
2160     2199
3060     2192
2235     1778
2260     1744
1020    -1651
3130    -1637
4135    -1562
2240    -1561
2060     1559
6040     1536
1110     1522
3030     1517
2075    -1495
2170     1464
1210     1426
2150    -1412
3120    -1399
3135    -1336
1105    -1320
3025    -1297
7065     1250
4100     1240
6142    -1227
2285     1188
2015    -1179
7010     1166
2180    -1155
2095     1102
2220    -1086
7035    -1059
2005     1048
2205      916
7045      901
dtype: int64

In [26]:
simulated_mcd_hh.loc[4005]

55031

In [140]:
hdf["/base/semmcds"].loc[2252]

city_name        Southfield Twp
county_id                   125
large_area_id               125
Name: 2252, dtype: object

In [ ]:
b50 = b50.join(p50.semmcd, on='parcel_id')

In [147]:
b50[b50.semmcd == 2252].shape

(9, 16)

#### HH viz by year for MCD

In [3]:
run_folder = "/home/da/semcog_urbansim/runs"
run_num = "run307"
hdf = pd.HDFStore(os.path.join(run_folder, '%s.h5'%run_num), 'r')
mcd_total = pd.read_csv('/home/da/share/urbansim/RDF2050/model_inputs/base_tables/mcd_totals_2020_2050_nov15.csv', index_col='mcd')

hh_by_mcd_year = pd.DataFrame(index=mcd_total.index)
for year in range(2020, 2041):
	if "/%s/parcels" % year not in hdf.keys():
		break
	p = hdf["/%s/parcels" % year]
	b = hdf["/%s/buildings" % year]
	hh = hdf["/%s/households" % year]
	b = b.join(p.semmcd, on='parcel_id')
	hh = hh.join(b.semmcd, on='building_id')
	hh_vcount = hh.semmcd.fillna(-1).astype(int).value_counts()
	hh_by_mcd_year.loc[:, str(year)] = hh_vcount

In [4]:
hh_by_mcd_year

,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
mcd,,,,,,,,,,,,,,,,,,,,,
5,266342.0,264199.0,261667.0,262464.0,263738.0,263948.0,264180.0,264037.0,263810.0,263492.0,...,262696.0,262125.0,261715.0,261218.0,260817.0,260564.0,260224.0,259797.0,259099.0,258836.0
1005,11639.0,11274.0,11153.0,11122.0,11149.0,11152.0,11135.0,11128.0,11135.0,11130.0,...,11117.0,11130.0,11160.0,11132.0,11146.0,11169.0,11197.0,11192.0,11194.0,11198.0
1010,1847.0,1846.0,1827.0,1824.0,1806.0,1806.0,1795.0,1791.0,1794.0,1789.0,...,1770.0,1775.0,1778.0,1779.0,1775.0,1776.0,1773.0,1775.0,1774.0,1778.0
1015,12826.0,12966.0,13019.0,13072.0,13060.0,13091.0,13109.0,13096.0,13125.0,13114.0,...,13149.0,13163.0,13191.0,13182.0,13200.0,13166.0,13170.0,13177.0,13154.0,13159.0
1020,36130.0,36897.0,37094.0,37211.0,37328.0,37494.0,37673.0,37803.0,37932.0,38083.0,...,38275.0,38353.0,38398.0,38424.0,38496.0,38534.0,38557.0,38580.0,38556.0,38557.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7080,5265.0,5298.0,5332.0,5409.0,5439.0,5482.0,5515.0,5541.0,5562.0,5598.0,...,5713.0,5790.0,5855.0,5964.0,6106.0,6250.0,6393.0,6521.0,6633.0,6745.0
7085,891.0,874.0,872.0,871.0,886.0,893.0,895.0,905.0,907.0,911.0,...,918.0,917.0,917.0,914.0,926.0,935.0,941.0,949.0,957.0,957.0
7090,2232.0,2343.0,2375.0,2385.0,2411.0,2434.0,2456.0,2471.0,2480.0,2489.0,...,2512.0,2532.0,2537.0,2536.0,2537.0,2539.0,2543.0,2542.0,2543.0,2542.0
7095,4246.0,4327.0,4363.0,4374.0,4401.0,4421.0,4419.0,4440.0,4461.0,4472.0,...,4505.0,4519.0,4528.0,4567.0,4581.0,4591.0,4590.0,4589.0,4594.0,4598.0
7100,1345.0,1404.0,1425.0,1445.0,1456.0,1469.0,1472.0,1478.0,1485.0,1496.0,...,1509.0,1508.0,1527.0,1553.0,1569.0,1569.0,1582.0,1585.0,1585.0,1587.0

In [26]:
hh_by_mcd_year['la'] = semmcds.set_index('mcd')

In [32]:
hh_by_mcd_year.to_csv('~/semcog_urbansim/data/cache/hh_by_mcd_year.csv')

In [ ]:
pd.DataFrame({"mcd_total":mcd_total.loc[5],"simulated":hh_by_mcd_year.loc[5]})

In [38]:
j = hdf["/2020/jobs"]
b = hdf["/2020/buildings"]
j[~j.building_id.isin(b.index)]

,home_based_status,semcog_id,sqft,sector_id,building_id,large_area_id
1812963,0,247163,1000,7,-1,3
188995,0,813978,700,12,-1,3
192376,0,814024,1000,12,-1,3
208504,0,814109,700,12,-1,3
221324,0,814010,700,12,-1,3
...,...,...,...,...,...,...
2144495,0,579518,400,15,-1,161
2144812,0,579518,400,15,-1,161
2147177,0,579518,400,15,-1,161
910938,0,128181,250,18,-1,161
1259934,0,127239,250,18,-1,161

In [45]:
j = hdf["/2020/jobs"]
hh = hdf["/2020/households"]
b = hdf["/2020/buildings"]
# hh.building_id.isin(b.index)
# j[~j.building_id.isin(b.index)]

In [46]:
(~hh.building_id.isin(b.index)).sum()

0

In [50]:
hdf["/base/households"].shape

(1936872, 13)

### Jobs

#### Jobs control

In [3]:
jct = hdf['/base/annual_employment_control_totals']

In [4]:
jct

                                  large_area_id  total_number_of_jobs
year sector_id home_based_status
2020 1         0                              3                  1227
               1                              3                   460
     2         0                              3                 13806
               1                              3                 11959
     3         0                              3                 58960
...                                         ...                   ...
2050 16        1                            161                  2416
     17        0                            161                  8666
               1                            161                  3302
     18        0                            161                  6494
               1                            161                    74

[8928 rows x 2 columns]

#### Jobs events

In [32]:
refinement = hdf['/base/refiner_events']
jobs_prev = hdf['/base/jobs']
jobs_after = hdf['/2050/jobs']
buildings_prev = hdf['/base/buildings']
buildings_after = hdf['/2050/buildings']

In [33]:
add_event = refinement.query('action=="add"')
for _, row in add_event.iterrows():
    bids = buildings_after.query(row.location_expression).index.to_list()
    prev = jobs_prev[jobs_prev.building_id.isin(bids)].shape[0]
    after = jobs_after[jobs_after.building_id.isin(bids)].shape[0]
    target = row.amount
    print("Transcation: %s\t 2020: %s\t 2050: %s\t event_added: %s" % (row.transaction_id, prev, after, target))

Transcation: 1	 2020: 0	 2050: 249	 event_added: 250
Transcation: 2	 2020: 0	 2050: 996	 event_added: 1000
Transcation: 3	 2020: 0	 2050: 1185	 event_added: 1200
Transcation: 4	 2020: 0	 2050: 877	 event_added: 300
Transcation: 5	 2020: 0	 2050: 1340	 event_added: 1700
Transcation: 5	 2020: 0	 2050: 900	 event_added: 1125
Transcation: 5	 2020: 0	 2050: 809	 event_added: 1025
Transcation: 6	 2020: 596	 2050: 990	 event_added: 400
Transcation: 7	 2020: 0	 2050: 146	 event_added: 60
Transcation: 8	 2020: 0	 2050: 146	 event_added: 100
Transcation: 9	 2020: 0	 2050: 549	 event_added: 240
Transcation: 10	 2020: 0	 2050: 549	 event_added: 390
Transcation: 11	 2020: 369	 2050: 2061	 event_added: 2000
Transcation: 14	 2020: 0	 2050: 2273	 event_added: 2500
Transcation: 15	 2020: 0	 2050: 198	 event_added: 200
Transcation: 16	 2020: 0	 2050: 1200	 event_added: 1200
Transcation: 17	 2020: 1055	 2050: 2951	 event_added: 2350
Transcation: 18	 2020: 0	 2050: 120	 event_added: 200
Transcation: 19	 2020: 0	 2050: 200	 event_added: 200
Transcation: 21	 2020: 25	 2050: 867	 event_added: 950
Transcation: 22	 2020: 239	 2050: 301	 event_added: 100
Transcation: 23	 2020: 0	 2050: 100	 event_added: 100
Transcation: 24	 2020: 0	 2050: 200	 event_added: 200
Transcation: 27	 2020: 0	 2050: 436	 event_added: 500
Transcation: 28	 2020: 0	 2050: 173	 event_added: 200
Transcation: 29	 2020: 0	 2050: 100	 event_added: 100
Transcation: 30	 2020: 439	 2050: 801	 event_added: 375
Transcation: 31	 2020: 0	 2050: 471	 event_added: 480
Transcation: 32	 2020: 0	 2050: 424	 event_added: 500
Transcation: 33	 2020: 0	 2050: 0	 event_added: 75
Transcation: 34	 2020: 0	 2050: 50	 event_added: 50
Transcation: 35	 2020: 0	 2050: 50	 event_added: 50
Transcation: 36	 2020: 0	 2050: 496	 event_added: 250
Transcation: 37	 2020: 0	 2050: 496	 event_added: 250
Transcation: 38	 2020: 2	 2050: 155	 event_added: 200
Transcation: 39	 2020: 0	 2050: 250	 event_added: 250
Transcation: 40	 2020: 0	 2050: 168	 event_added: 200
Transcation: 43	 2020: 117	 2050: 186	 event_added: 75
Transcation: 44	 2020: 5	 2050: 74	 event_added: 60
Transcation: 45	 2020: 0	 2050: 153	 event_added: 175
Transcation: 46	 2020: 0	 2050: 149	 event_added: 150
Transcation: 47	 2020: 0	 2050: 300	 event_added: 300
Transcation: 48	 2020: 0	 2050: 285	 event_added: 225
Transcation: 49	 2020: 0	 2050: 285	 event_added: 60
Transcation: 50	 2020: 0	 2050: 117	 event_added: 93
Transcation: 51	 2020: 0	 2050: 117	 event_added: 28
Transcation: 52	 2020: 0	 2050: 292	 event_added: 250
Transcation: 53	 2020: 13	 2050: 86	 event_added: 70
Transcation: 54	 2020: 0	 2050: 108	 event_added: 65
Transcation: 55	 2020: 105	 2050: 257	 event_added: 60
Transcation: 56	 2020: 105	 2050: 257	 event_added: 110
Transcation: 57	 2020: 0	 2050: 173	 event_added: 200
Transcation: 58	 2020: 204	 2050: 175	 event_added: 200
Transcation: 58	 2020: 0	 2050: 132	 event_added: 150
Transcation: 58	 2020: 0	 2050: 42	 event_added: 40
Transcation: 59	 2020: 0	 2050: 389	 event_added: 450
Transcation: 60	 2020: 224	 2050: 314	 event_added: 150
Transcation: 61	 2020: 0	 2050: 27	 event_added: 30
Transcation: 62	 2020: 0	 2050: 70	 event_added: 70
Transcation: 63	 2020: 943	 2050: 1906	 event_added: 1100
Transcation: 64	 2020: 384	 2050: 908	 event_added: 200
Transcation: 65	 2020: 914	 2050: 1483	 event_added: 500
Transcation: 66	 2020: 0	 2050: 77	 event_added: 75
Transcation: 67	 2020: 384	 2050: 908	 event_added: 400
Transcation: 68	 2020: 0	 2050: 400	 event_added: 400
Transcation: 69	 2020: 116	 2050: 399	 event_added: 267
Transcation: 70	 2020: 614	 2050: 895	 event_added: 800
Transcation: 71	 2020: 0	 2050: 99	 event_added: 100
Transcation: 72	 2020: 0	 2050: 735	 event_added: 750
Transcation: 75	 2020: 0	 2050: 80	 event_added: 80
Transcation: 76	 2020: 0	 2050: 81	 event_added: 100
Transcation: 77	 2020: 0	 2050: 1771	 event_added: 200
Transcation: 78	 2020: 0	 2050: 1771	 event_added: 600
Transcation: 79	 2020: 0	 2050: 1771	 event_added: 600
Transcation: 80	 2020: 0	 2050: 1771	 event_added: 700
Transcation: 81	 2020: 340	 2050: 340	 event_added: 300
Transcation: 82	 2020: 0	 2050: 877	 event_added: 900
Transcation: 83	 2020: 2924	 2050: 3384	 event_added: 700
Transcation: 84	 2020: 0	 2050: 301	 event_added: 300
Transcation: 85	 2020: 412	 2050: 520	 event_added: 3
Transcation: 86	 2020: 412	 2050: 520	 event_added: 77
Transcation: 88	 2020: 128	 2050: 164	 event_added: 100
Transcation: 89	 2020: 0	 2050: 251	 event_added: 250
Transcation: 90	 2020: 0	 2050: 214	 event_added: 171
Transcation: 91	 2020: 240	 2050: 733	 event_added: 525
Transcation: 93	 2020: 0	 2050: 120	 event_added: 120
Transcation: 95	 2020: 0	 2050: 101	 event_added: 100
Transcation: 96	 2020: 0	 2050: 2302	 event_added: 2356
Transcation: 96	 2020: 0	 2050: 1668	 event_added: 1714

In [35]:
target_event = refinement.query('action=="target"')
for _, row in target_event.iterrows():
    bids = buildings_after.query(row.location_expression).index.to_list()
    prev = jobs_prev[jobs_prev.building_id.isin(bids)].shape[0]
    after = jobs_after[jobs_after.building_id.isin(bids)].shape[0]
    target = row.amount
    print("Transcation: %s\t 2020: %s\t 2050: %s\t event_target: %s" % (row.transaction_id, prev, after, target))

Transcation: 20	 2020: 544	 2050: 8	 event_target: 0
Transcation: 41	 2020: 162	 2050: 1	 event_target: 0
Transcation: 74	 2020: 131	 2050: 5	 event_target: 0
Transcation: 94	 2020: 5	 2050: 1	 event_target: 0

In [34]:
subtract_event = refinement.query('action=="subtract"')
for _, row in subtract_event.iterrows():
    bids = buildings_after.query(row.location_expression).index.to_list()
    prev = jobs_prev[jobs_prev.building_id.isin(bids)].shape[0]
    after = jobs_after[jobs_after.building_id.isin(bids)].shape[0]
    subtract = row.amount
    print("Transcation: %s\t 2020: %s\t 2050: %s\t event_subtract: %s" % (row.transaction_id, prev, after, subtract))

Transcation: 7	 2020: 2924	 2050: 3384	 event_subtract: 60
Transcation: 8	 2020: 750	 2050: 608	 event_subtract: 100
Transcation: 12	 2020: 12	 2050: 3	 event_subtract: 263
Transcation: 13	 2020: 0	 2050: 0	 event_subtract: 200
Transcation: 21	 2020: 909	 2050: 80	 event_subtract: 950
Transcation: 14	 2020: 87	 2050: 3	 event_subtract: 100
Transcation: 14	 2020: 937	 2050: 818	 event_subtract: 100
Transcation: 14	 2020: 482	 2050: 181	 event_subtract: 300
Transcation: 14	 2020: 908	 2050: 797	 event_subtract: 100
Transcation: 14	 2020: 122	 2050: 4	 event_subtract: 150
Transcation: 14	 2020: 138	 2050: 57	 event_subtract: 100
Transcation: 14	 2020: 112	 2050: 8	 event_subtract: 100
Transcation: 14	 2020: 348	 2050: 46	 event_subtract: 300
Transcation: 14	 2020: 46	 2050: 5	 event_subtract: 50
Transcation: 30	 2020: 401	 2050: 28	 event_subtract: 375
Transcation: 31	 2020: 184	 2050: 36	 event_subtract: 150
Transcation: 31	 2020: 340	 2050: 340	 event_subtract: 300
Transcation: 31	 2020: 92	 2050: 60	 event_subtract: 30
Transcation: 34	 2020: 72	 2050: 28	 event_subtract: 50
Transcation: 42	 2020: 254	 2050: 70	 event_subtract: 200
Transcation: 45	 2020: 42	 2050: 2	 event_subtract: 175
Transcation: 57	 2020: 204	 2050: 175	 event_subtract: 200
Transcation: 61	 2020: 28	 2050: 1	 event_subtract: 30
Transcation: 62	 2020: 65	 2050: 7	 event_subtract: 70
Transcation: 63	 2020: 925	 2050: 1	 event_subtract: 1100
Transcation: 68	 2020: 614	 2050: 895	 event_subtract: 400
Transcation: 69	 2020: 77	 2050: 25	 event_subtract: 50
Transcation: 69	 2020: 306	 2050: 74	 event_subtract: 210
Transcation: 69	 2020: 18	 2050: 11	 event_subtract: 7
Transcation: 73	 2020: 864	 2050: 460	 event_subtract: 360
Transcation: 83	 2020: 3772	 2050: 2943	 event_subtract: 700
Transcation: 85	 2020: 147	 2050: 135	 event_subtract: 3
Transcation: 87	 2020: 128	 2050: 164	 event_subtract: 75
Transcation: 88	 2020: 1799	 2050: 1647	 event_subtract: 100
Transcation: 90	 2020: 0	 2050: 0	 event_subtract: 171
Transcation: 91	 2020: 466	 2050: 13	 event_subtract: 525
Transcation: 92	 2020: 466	 2050: 13	 event_subtract: 20

In [20]:
prev = jobs_prev[jobs_prev.building_id.isin(bids)].groupby('building_id').count().home_based_status
after = jobs_after[jobs_after.building_id.isin(bids)].groupby('building_id').count().home_based_status

In [41]:
hdf['/2021/jobs'].query('building_id==2593307').shape

(40, 6)

In [40]:
hdf['/2022/jobs'].query('building_id==2593307').shape

(40, 6)

##### end

In [51]:
inhdf = pd.HDFStore('~/share/urbansim/RDF2050/model_inputs/base_hdf/forecast_data_input_112222.h5', 'r')

In [89]:
j = hdf['base/jobs']
ec = hdf['base/annual_employment_control_totals']
# (j[j.building_id==-1].index.isin(hdf['base/jobs'].index)).sum()
ec = ec.loc[2020].reset_index()
region_simulated_j = [filter_table(j, ec.iloc[i], 'total_number_of_jobs').shape[0] for i in range(ec.shape[0])]
ec.loc[:, 'region_simulated_j'] = region_simulated_j

In [93]:
ec[ec.region_simulated_j>ec.total_number_of_jobs].head(20)

,sector_id,home_based_status,large_area_id,total_number_of_jobs,region_simulated_j
1,1,1,3,460,468
3,2,1,3,11959,12048
5,3,1,3,2029,2059
7,4,1,3,3043,3135
9,5,1,3,6802,7053
10,6,0,3,44410,55688
15,8,1,3,1075,1119
16,9,0,3,28695,36305
19,10,1,3,9693,10048
20,11,0,3,11232,15942
22,12,0,3,23471,23633
25,13,1,3,659,701
27,14,1,3,8456,8679
29,15,1,3,82,83
31,16,1,3,2217,2311
33,17,1,3,7812,8123
35,18,1,3,209,211
36,1,0,5,254,269
39,2,1,5,2589,2618
41,3,1,5,957,1000

In [83]:
ec = hdf['base/annual_employment_control_totals']
# (j[j.building_id==-1].index.isin(hdf['base/jobs'].index)).sum()
ec = ec.loc[2020].reset_index()
# filter_table(j, ec.iloc[22], 'total_number_of_jobs')
ec.iloc[22]

sector_id                  12
home_based_status           0
large_area_id               3
total_number_of_jobs    23471
Name: 22, dtype: int64

In [79]:
region_simulated_j

[1227,
 460,
 13806,
 11959,
 58960,
 2029,
 17748,
 3043,
 55785,
 6802,
 44410,
 19369,
 390,
 13,
 3330,
 1075,
 28695,
 20271,
 39814,
 9693,
 11232,
 5180,
 23471,
 15578,
 23644,
 659,
 36274,
 8456,
 21617,
 82,
 39404,
 2217,
 29472,
 7812,
 10210,
 209,
 254,
 156,
 4061,
 2589,
 20174,
 957,
 6463,
 1076,
 10352,
 2827,
 9796,
 2860,
 3245,
 14,
 3768,
 1281,
 19925,
 5484,
 17597,
 5525,
 9843,
 130,
 9414,
 9304,
 28869,
 682,
 27348,
 10054,
 31935,
 182,
 23699,
 1995,
 16795,
 5083,
 29706,
 256,
 156,
 989,
 2784,
 3660,
 9161,
 669,
 2351,
 696,
 9367,
 1181,
 1363,
 1130,
 47,
 5,
 628,
 314,
 5363,
 4655,
 5427,
 2210,
 176,
 388,
 1676,
 1736,
 4309,
 131,
 7092,
 1068,
 927,
 1,
 7657,
 488,
 3967,
 1540,
 3028,
 72,
 403,
 961,
 13469,
 12464,
 60693,
 2130,
 9831,
 1467,
 40716,
 5782,
 10628,
 10973,
 335,
 34,
 2987,
 879,
 18697,
 14058,
 30076,
 7226,
 3020,
 2962,
 12810,
 11385,
 20232,
 354,
 31296,
 4875,
 10424,
 45,
 27670,
 2064,
 18690,
 5976,
 20170,
 215,
 613,
 1398,
 1024,
 1937,
 5225,
 194,
 1471,
 289,
 5108,
 931,
 1840,
 1191,
 1726,
 6,
 415,
 99,
 2187,
 1441,
 2713,
 1067,
 18,
 10,
 974,
 2033,
 3786,
 107,
 3500,
 506,
 740,
 2,
 3950,
 364,
 2408,
 849,
 2182,
 26,
 872,
 1112,
 23818,
 16424,
 63535,
 3251,
 36364,
 5307,
 73508,
 10090,
 17067,
 8682,
 1503,
 98,
 15537,
 2727,
 93772,
 41454,
 111341,
 19778,
 16588,
 5527,
 49658,
 18861,
 45015,
 1504,
 67003,
 12555,
 35438,
 103,
 60847,
 4406,
 34880,
 9217,
 17883,
 300,
 217,
 1084,
 2323,
 3120,
 7190,
 421,
 1247,
 339,
 6292,
 884,
 1559,
 588,
 1207,
 10,
 274,
 81,
 3013,
 1670,
 1678,
 848,
 57,
 23,
 1344,
 1091,
 3821,
 64,
 5453,
 760,
 1870,
 2,
 4913,
 323,
 3149,
 848,
 3419,
 55,
 233,
 1623,
 3409,
 3813,
 12549,
 893,
 5742,
 1018,
 15101,
 2430,
 4009,
 3178,
 416,
 31,
 5881,
 1339,
 10482,
 6768,
 21629,
 6202,
 1371,
 369,
 6455,
 5370,
 50004,
 665,
 24569,
 4832,
 22826,
 17,
 16164,
 1600,
 7233,
 2757,
 5705,
 65]

In [82]:
ec.iloc[22]

/tmp/ipykernel_170866/274758903.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  ec.loc[2020,12,0]

sector_id                  12
home_based_status           0
large_area_id               3
total_number_of_jobs    23471
region_simulated_j      23471
Name: 22, dtype: int64

In [84]:
j[(j.home_based_status==0)&(j.sector_id==12)&(j.large_area_id==3)&(j.building_id!=-1)]

,home_based_status,semcog_id,sqft,sector_id,building_id,large_area_id
47536,0,814085,900,12,1904133,3
47787,0,814085,900,12,1904131,3
47788,0,814334,900,12,1904131,3
47967,0,48431,900,12,1414803,3
48166,0,814085,900,12,1414803,3
...,...,...,...,...,...,...
2730070,0,273581,700,12,1347982,3
2730071,0,814098,400,12,1918309,3
2730072,0,289933,250,12,1170444,3
2730073,0,282292,250,12,1724093,3
2730074,0,239795,900,12,1487914,3

In [20]:
j[j.building_id!=-1].shape

(2695168, 6)

In [33]:
ec.loc[2020,12,0]

/tmp/ipykernel_170866/274758903.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  ec.loc[2020,12,0]

                                  large_area_id  total_number_of_jobs
year sector_id home_based_status
2020 12        0                              3                 23471
               0                              5                  9414
               0                             93                  1676
               0                             99                 12810
               0                            115                   974
               0                            125                 49658
               0                            147                  1344
               0                            161                  6455

In [35]:
bj = hdf['base/jobs']
bj[(bj.large_area_id==3)&(bj.sector_id==12)&(bj.home_based_status==0)]

,home_based_status,semcog_id,sqft,sector_id,building_id,large_area_id
job_id,,,,,,
47536,0,814085,900,12,1904133,3
47787,0,814085,900,12,1904131,3
47788,0,814334,900,12,1904131,3
47967,0,48431,900,12,1414803,3
48166,0,814085,900,12,1414803,3
...,...,...,...,...,...,...
2730070,0,273581,700,12,1347982,3
2730071,0,814098,400,12,1918309,3
2730072,0,289933,250,12,1170444,3
2730073,0,282292,250,12,1487318,3
2730074,0,239795,900,12,1514361,3